<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/v1/user/login" method="post">
        <label for="text">first_name</label>
        <input type="text"></form><br>
        <label for="text">last_name</label>
        <input type="text"></form><br>
        <label for="password">password</label>
        <input type="password"></form><br>
        <label for="email">email</label>
        <input type="email"></form><br>
        <input type=" submit">
    </form>
</body>
</html>